<section>
    <div class="container-fluid bg">
        <form action="/create" method="post">
            Username: <br>
            <input type="string" name="Username" ><br>
            Email: <br>
            <input type="string" name="Email"><br>
            Bio: <br>
            <input type="text" name="Bio"><br><br>
            <input type="submit" value="Envoyer le formulaire">
        </form>
    </div>
    
</section>