<section>
    <div class= "text-light  d-flex align-content-end flex-wrap ">
      <p class="p-6">
        <br/>
        Salut ! Ici c'est notre site, il est chouette, non ?
        <br/>
        
        Les liens vers les formulaires sont juste après

        <a href="/new_form">Formulaire avec form</a>
        <a href="/new_form_tag">Formulaire avec form_tag</a>
        <a href="/new_form_for">Formulaire avec form_for</a>
        </p>


    </div>    

</section>