<%# A decommenter pour la méthode avec form%>
<!--
<section>
  <div class="container-fluid bg">
    <form action="/new" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      Username: <br>
      <input type="string" name="user_username" ><br>
      Email: <br>
      <input type="string" name="user_email"><br>
      Bio: <br>
      <input type="text" name="user_bio"><br><br>
      <input type="submit" value="Envoyer le formulaire">
    </form>
  </div> 
</section> %>
-->